.App {
  background-color: rgb(201, 235, 255);
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  border-color: transparent;
  border-radius: 15px;
  margin-top: 65px;
  margin-left: 375px;
  margin-right: 375px;
}
.icon {
  position: relative;
  margin-left: 7px;
  line-height: 3;
  top: 10px;
}
.degree {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 94px;
  margin-left: 5px;
}
.Wdegree {
  font-weight: 300;
  font-size: 22px;
  position: relative;
  line-height: 1;
  top: -30px;
}
.Footer {
  font-family: sans-serif;
  margin-left: 375px;
  margin-right: 375px;
}
.container {
  border-radius: 15px;
  padding-left: 55px;
  padding-right: 55px;
}
.WeatherForecast-temperatures {
  margin-top: 10px;
}
.WeatherForecast {
  text-align: center;
}
.btn {
  border-color: #810335;
  background-color: #810335;
}

.WeatherForecast-temperature-min {
  color: #e60073;
  opacity: 0.6;
  margin-left: 5px;
}
.WeatherForecast-day {
  font-weight: bold;
  margin-bottom: 14px;
}
.humid {
  color: #e60073;
  opacity: 0.8;
}
.wind {
  color: #e60073;
  opacity: 0.8;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  margin-left: 7px;
  padding-left: 0px;
  font-weight: 400;
  line-height: 1.2;
}

.Form {
  display: block;
  margin: 0 auto;
}

li {
  list-style: none;
  text-decoration: none;
  display: list-item;
}
.image {
  margin-top: 0px;
}
.Weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
